Name:Shivani Borhade

# List

In [4]:
A =[34,21,9.2,762,'python']

In [5]:
type(A)

list

In [10]:
A =[34,21,9.2,762,'python']
print(A)

[34, 21, 9.2, 762, 'python']

In [11]:
#then for same code we can use the try and except
try:
    print(A)
except Exception as e:
    print(e)

[34, 21, 9.2, 762, 'python']

In [12]:
#call the element
def list(name):
    try:
        print(A)
    except Exception as e:
        print(e)
list(A)

[34, 21, 9.2, 762, 'python']

In [9]:
try:
    def output(name):
        try:
            print(A)
        except Exception as e:
            print(e)
    output(a)
except Exception as e:
    print(e)

name 'a' is not defined

# Min()

In [16]:
list=[12,76,982,21,7,3,2,98]
print(min(list))

2

In [17]:
try:
    print(min(list))
except Exception as e:
    print(e)

2

In [19]:
#can use the try and except
try:
    def min_no(list):
        try:
            print(min(list))
        except Exception as e:
            print(e)
min_no(list)

2

In [21]:
try:
    def min_no(list):
        try:
            print(min(list))
        except Exception as e:
            print(e)
    min_no(list)            
except Exception as e:
    print(e)

2

# max()

In [23]:
l=(65,87,987,7,98,4.8,32)
print(max(l))

987

In [24]:
try:
    print(max(l))
except Exception as e:
    print(e)

987

In [25]:
def max_no(num):
        try:
            print(max(l))
        except Exception as e:
            print(e)
max_no(l)

987

In [26]:
try:
    def max_no(l):
        try:
            print(max(l))
        except Exception as e:
            print(e)
    max_no(nam)    
except Exception as e:
    print(e)

name 'nam' is not defined

# len()

In [27]:
name = "chemistry"
print(len(name))

9

In [28]:
try:
    print(len(name))
except Exception as e:
    print(e)

9

In [29]:
def variable(name):
        try:
            print(len(name))
        except Exception as e:
            print(e)
variable(name)

9

In [30]:
try:
    def variable(name):
            try:
                print(len(name))
            except Exception as e:
                print(e)
    variable(n)    
except Exception as e:
    print(e)

name 'n' is not defined

# insert()

In [31]:
List=[45,True,6,9,543,'java']
List.insert(2,18)
print(List)

[45, True, 18, 6, 9, 543, 'java']

In [34]:
try:
    List.insert(4,43)
    print(List)
except Exception as e:
    print(e)

[45, True, 18, 6, 43, 543, 9, 543, 'java', 543]

In [1]:
def insertfunc(List):
        try:
            List.insert(4,43)
            print(List)
        except exception as e:
            print(e)
insertfunc(List)

NameError: name 'List' is not defined

In [51]:
try:
    def insertfunc(List):
        try:
            List.insert(4,43)
            print(List)
        except exception as e:
            print(e)
    insertfunc(add)            
except Exception as e:
    print(e)

name 'add' is not defined

# append

In [39]:
l = [76,64,'java',33,True]
l1=[8,43,8.5,'html',False]
l.append(l1)
l

[76, 64, 'java', 33, True, [8, 43, 8.5, 'html', False]]

In [40]:
try:
    l.append(l1)
    print(l)
except Exception as e:
    print(e)

[76, 64, 'java', 33, True, [8, 43, 8.5, 'html', False], [8, 43, 8.5, 'html', False]]

In [43]:

def append_list(num2):
        try:
            l.append(l1)
            print(l)
        except Exception as e:
            print(e)
append_list(l)

[76, 64, 'java', 33, True, [8, 43, 8.5, 'html', False], [8, 43, 8.5, 'html', False], [8, 43, 8.5, 'html', False], [8, 43, 8.5, 'html', False], [8, 43, 8.5, 'html', False]]

In [50]:
try:
    def append_list(num2):
        try:
            l.append(l1)
            print(l)
        except Exception as e:
            print(e)
    append_list(react)           
except Exception as e:
    print(e)

name 'react' is not defined

# extend

In [45]:
names = ["shivani","rutuja","vaishnavi",'sumit']
names.extend("jyoti")
print(names)

['shivani', 'rutuja', 'vaishnavi', 'sumit', 'j', 'y', 'o', 't', 'i']

In [46]:
try:
    names.extend("jyoti")
    print(names)
except Exception as e:
    print(e)

['shivani', 'rutuja', 'vaishnavi', 'sumit', 'j', 'y', 'o', 't', 'i', 'j', 'y', 'o', 't', 'i']

In [49]:
try:
    def extend_name(nam):
        try:
            names.extend("jyoti")
            print(names)
        except Exception as e:
            print(e)
    extend_name(namert)
except Exception as e:
    print(e)

name 'namert' is not defined

# pop()

remove the element

In [52]:
l = [43,98,90,"shiv",6.4,False,67]
l.pop()

67

In [53]:
try:
    l.pop()
    print(l)
except Exception as e:
    print(e)

[43, 98, 90, 'shiv', 6.4]

In [55]:
def remove_last(number):
    try:
        l.pop()
        print(l)
    except Exception as e:
        print(e)
remove_last(l)

[43, 98, 90]

In [56]:
try:
    def remove_last(number):
        try:
            l.pop()
            print(l)
        except Exception as e:
            print(e)
    remove(90)
except Exception as e:
    print(e)

name 'remove' is not defined

# reverse

In [57]:
List = [81,35,37,7.9,"zoology"]
List.reverse()
List

['zoology', 7.9, 37, 35, 81]

In [58]:
try:
    List.reverse()
    print(List)
except Exception as e:
    print(e)

[81, 35, 37, 7.9, 'zoology']

In [59]:
def reverse_list(L):
    try:
        List.reverse()
        print(List)
    except Exception as e:
        print(e)
reverse_list(List)

['zoology', 7.9, 37, 35, 81]

In [69]:
try:
    def reverse_list(L):
        try:
            List.reverse()
            print(List)
        except Exception as e:
            print(e)
    reverse_list(something)
except Exception as e:
    print(e)

name 'something' is not defined

# sort

sort the list alphabetically(in ascending order)

In [72]:
list = ['physics','chemistry','biology','mathematics','IT']
list.sort()
print(list)

['IT', 'biology', 'chemistry', 'mathematics', 'physics']

In [74]:
try:
    list.sort()
    print(list)
except Exception as e:
    print(e)

['IT', 'biology', 'chemistry', 'mathematics', 'physics']

In [75]:
def sequence(sort): 
    try:
        list.sort()
        print(list)
    except Exception as e:
        print(e)
sequence(list)

['IT', 'biology', 'chemistry', 'mathematics', 'physics']

In [77]:
try:
    def sequence(sort): 
        try:
            list.sort()
            print(list)
        except Exception as e:
            print(e)
    sequence(subjects)        
except Exception as e:
    print(e)

name 'subjects' is not defined

# delete

In [82]:
l= [43,73,654,32,21,12]

del l[3]
l

[43, 73, 654, 21, 12]

In [84]:
try:
    del l[2]
    print(l)
except Exception as e:
    print(e)

[43, 73, 21]

In [89]:
def remove_num(num):
    try:
        del l[0]
        print(l)
    except Exception as e:
        print(e)
remove_num(l)

[]