Name = [Rushikesh Ramling Khekade]
Batch = [Data science-3pm-4pm(2022)]

# list :-
  - List is a collection which is ordered and changeable & It Allows duplicate members.
  - A list can contain different data types:

In [68]:
b = [1,3,4,5.5,"rushi"]
# A list with strings, integers and float values:
print(A)

[1, 3, 4, 5.5, 'rushi']

In [69]:
# you can use the try and except to handle errors as exceptions
try:
    print(A)
except Exception as e:
    print(e)

[1, 3, 4, 5.5, 'rushi']

In [70]:
# using def() to call the element
def output(name):
    try:
        print(A)
    except Exception as e:
        print(e)
output(A)

[1, 3, 4, 5.5, 'rushi']

In [71]:
try:
    def output(name):
        try:
            print(A)
        except exception as e:
            print(e)
    output(a)
except Exception as e:
    print(e)

name 'a' is not defined

# len() :
      - Python list method len() returns the number of elements in the list.

In [72]:
name = "Rushikesh"
print(len(name))

9

In [73]:
try:
    print(len(name))
except Exception as e:
    print(e)

9

In [74]:
def variable(name):
        try:
            print(len(name))
        except Exception as e:
            print(e)
variable(name)

9

In [75]:
try:
    def variable(name):
            try:
                print(len(name))
            except Exception as e:
                print(e)
    variable(n)    
except Exception as e:
    print(e)

name 'n' is not defined

# min():
   - Python list method min() returns the elements from the list with minimum value.

In [76]:
numbers = [1,99,74,24,45]
print(min(numbers))

1

In [132]:
try:
    print(min(numbers))
except Exception as e:
    print(e)

1

In [136]:
def min_no(num):
        try:
            print(min(numbers))
        except Exception as e:
             print(e)
min_no(numbers)

1

In [79]:
try:
    def min_no(num):
        try:
            print(min(numbers))
        except Exception as e:
            print(e)
    min_no(number)            
except Exception as e:
    print(e)

name 'number' is not defined

# max():
   - Python list method max returns the elements from the list with maximum value.

In [80]:
names = ["rushi","shubham","prathmesh","nitin"]
print(max(names))

shubham

In [81]:
try:
    print(max(names))
except Exception as e:
    print(e)

shubham

In [82]:
def max_no(num):
        try:
            print(max(names))
        except Exception as e:
            print(e)
max_no(names)

shubham

In [83]:
try:
    def max_no(name):
        try:
            print(max(names))
        except Exception as e:
            print(e)
    max_no(nam)    
except Exception as e:
    print(e)

name 'nam' is not defined

# insert():
   - Adds an element at the specified position

In [138]:
List=[1,5,3,"rushi",2.4]
List.insert(2,18)
print(List)

[1, 5, 18, 3, 'rushi', 2.4]

In [139]:
try:
    List.insert(3,45)
    print(List)
except exception as e:
    print(e)

[1, 5, 18, 45, 3, 'rushi', 2.4]

In [166]:
def insert_func(List=list,index=int,objects=int):
        try:
            List.insert(index,objects)
            print(List)
        except Exception as e:
            print(e)
insert_func(List,3,45)

[1, 5, 18, 45, 45, 45, 45, 45, 3, 'rushi', 2.4]

In [210]:
try:
    def insert_func(List:list,index:int,objects:int):
        try:
            List.insert(index,objects)
            print(List)
        except Exception as e:
            print(e)
    insert_func(List,9,45)                      
except Exception as e:
    print(e)

[1, 5, 18, 45, 45, 45, 45, 45, 3, 45, 'rushi', 2.4]

# index():
   - Returns the index of the element with the specified value

In [88]:
l = [1,5,45,18,24,7,"rushi"]
l.index(45)

2

In [89]:
l = [1,5,45,18,24,7,"rushi"]
try:
    print(l.index("rushi"))
except Exception as e:
    print(e)

6

In [90]:
def index_no(num,num1):
    try:
        print(l.index(num))
        print(l.index(num1))
    except Exception as e:
        print(e)
index_no("rushi",24)

6
4

In [91]:
try:
    def index_no(num,num1):
        try:
            print(l.index(num))
            print(l.index(num1))
        except Exception as e:
            print(e)
    index_no(1,18)
except Exception as e:
    print(e)

0
3

# count():
   - Returns the number of elements with the specified value

In [92]:
l = [1,5,45,45,5,5,5.8,"rushi"]
l.count(5)

3

In [93]:
try:
    print(l.count(5.8))
except Exception as e:
    print(e)

1

In [94]:
def count_no(num,num1):
    try:
        print(l.count(num))
        print(l.count(num1))
    except Exception as e:
        print(e)
count_no(45,"rushi")

2
1

In [95]:
try:
    def count_no(num,num1):
        try:
            print(l.count(num))
            print(l.count(num1))
        except Exception as e:
            print(e)
    count_no(5,4)               
except Exception as e:
    print(e)

3
0

# append():
   - Adds an element at the end of the list

In [96]:
l = [1,5,"rushi",2.4]
l1=[2,5,6,"khekade"]
l.append(l1)
l

[1, 5, 'rushi', 2.4, [2, 5, 6, 'khekade']]

In [97]:
try:
    l.append(l1)
    print(l)
except Exception as e:
    print(e)

[1, 5, 'rushi', 2.4, [2, 5, 6, 'khekade'], [2, 5, 6, 'khekade']]

In [98]:
def append_list(num2):
        try:
            l.append(l1)
            print(l)
        except Exception as e:
            print(e)
append_list(l)

[1, 5, 'rushi', 2.4, [2, 5, 6, 'khekade'], [2, 5, 6, 'khekade'], [2, 5, 6, 'khekade']]

In [99]:
try:
    def append_list(num2):
        try:
            l.append(l1)
            print(l)
        except Exception as e:
            print(e)
    append_list(lost)           
except Exception as e:
    print(e)

name 'lost' is not defined

# extend():
  - Add the elements of a list (or any iterable), to the end of the current list

In [100]:
names = ["rushi","shubham","prathmesh"]
names.extend("samirsir")
print(names)

['rushi', 'shubham', 'prathmesh', 's', 'a', 'm', 'i', 'r', 's', 'i', 'r']

In [101]:
try:
    names.extend("samirsir")
    print(names)
except Exception as e:
    print(e)

['rushi', 'shubham', 'prathmesh', 's', 'a', 'm', 'i', 'r', 's', 'i', 'r', 's', 'a', 'm', 'i', 'r', 's', 'i', 'r']

In [102]:
def extend_name(name,name1):
    try:
        names.extend(name)
        names.extend(name1)
        print(names)
    except Exception as e:
        print(e)
extend_name("rushi","shubham")

['rushi', 'shubham', 'prathmesh', 's', 'a', 'm', 'i', 'r', 's', 'i', 'r', 's', 'a', 'm', 'i', 'r', 's', 'i', 'r', 'r', 'u', 's', 'h', 'i', 's', 'h', 'u', 'b', 'h', 'a', 'm']

In [103]:
try:
    def extend_name(name,name1):
        try:
            names.extend(name)
            names.extend(name1)
            print(names)
        except Exception as e:
            print(e)
    extend_name("rushi","prathmesh")
except Exception as e:
        print(e)

['rushi', 'shubham', 'prathmesh', 's', 'a', 'm', 'i', 'r', 's', 'i', 'r', 's', 'a', 'm', 'i', 'r', 's', 'i', 'r', 'r', 'u', 's', 'h', 'i', 's', 'h', 'u', 'b', 'h', 'a', 'm', 'r', 'u', 's', 'h', 'i', 'p', 'r', 'a', 't', 'h', 'm', 'e', 's', 'h']

# remove():
   - Removes the item with the specified value

In [104]:
l = [99,45,24,18,10]
l.remove(99)
l

[45, 24, 18, 10]

In [105]:
try: 
    l.remove(100)
    print(l)
except Exception as e:
    print(e)

list.remove(x): x not in list

In [106]:
def remove_no(num,num1):
    try:
        l.remove(num)
        l.remove(num1)
        print(l)
    except Exception as e:
        print(e)
remove_no(24,10)

[45, 18]

In [107]:
try:
    def remove_no(num,num1):
        try:
            l.remove(num)
            l.remove(num1)
            print(l)
        except Exception as e:
            print(e)
    remove_no(45,18)        
except Exception as e:
    print(e)

[]

# pop():
  - Removes the element at the specified position

In [108]:
l = [1,3,5,"rushi",4.2]
l.pop()

4.2

In [109]:
try:
    l.pop()
    print(l)
except Exception as e:
    print(e)

[1, 3, 5]

In [110]:
def remove_last(num):
    try:
        l.pop()
        print(l)
    except Exception as e:
        print(e)
remove_last(l)

[1, 3]

In [111]:
try:
    def remove_last(num):
        try:
            l.pop()
            print(l)
        except Exception as e:
            print(e)
    remove(rushi)
except Exception as e:
    print(e)

name 'remove' is not defined

# del(): 
  - Removes element from the list

In [204]:
L = [7,6,1,4,3,5,9,3,7]

del L[3]
L

[7, 6, 1, 3, 5, 9, 3, 7]

In [205]:
try:
    del L[3]
    print(L)
except Exception as e:
    print(e)

[7, 6, 1, 5, 9, 3, 7]

In [206]:
def remove_num(L,num,num1):
    try:
        del L[num]
        del L[num1]
        print(L)
    except Exception as e:
        print(e)
remove_num(L,0,-2)

[6, 1, 5, 9, 7]

In [209]:
try:
    def remove_num(L,num,num1):
        try:
            del L[num]
            del L[num1]
            print(L)
        except Exception as e:
            print(e)
    remove_num(L,0,-2)        
except Exception as e:
        print(e)

[1, 5, 7]

# reverse():
   - Reverses the order of the list

In [116]:
List = [1,5,3,4.5,"samirsir"]
List.reverse()
List

['samirsir', 4.5, 3, 5, 1]

In [117]:
try:
    List.reverse()
    print(List)
except Exception as e:
    print(e)

[1, 5, 3, 4.5, 'samirsir']

In [118]:
def reverse_list(L):
    try:
        List.reverse()
        print(List)
    except Exception as e:
        print(e)
reverse_list(List)

['samirsir', 4.5, 3, 5, 1]

In [119]:
try:
    def reverse_list(L):
        try:
            List.reverse()
            print(List)
        except Exception as e:
            print(e)
    reverse_list(file)
except Exception as e:
    print(e)

name 'file' is not defined

# sort():
   - this will sort the list alphanumerically, ascending

In [120]:
lang = ["python","sql","c","html","java"]
lang.sort()
print(lang)

['c', 'html', 'java', 'python', 'sql']

In [121]:
try:
    lang.sort()
    print(lang)
except Exception as e:
    print(e)

['c', 'html', 'java', 'python', 'sql']

In [122]:
def sequence(sort): 
    try:
        lang.sort()
        print(lang)
    except Exception as e:
        print(e)
sequence(lang)

['c', 'html', 'java', 'python', 'sql']

In [123]:
try:
    def sequence(sort): 
        try:
            lang.sort()
            print(lang)
        except Exception as e:
            print(e)
    sequence(language)        
except Exception as e:
    print(e)

name 'language' is not defined

# copy():
   - this will copy the same list into another list

In [124]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [125]:
# list comprehension
# With list comprehension you can do all that with only one line of code:

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [i for i in fruits if "a" in i]
print(newlist)

['apple', 'banana', 'mango']

In [126]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
     if "a" in x:
            newlist.append(x)
            print(newlist)

['apple']
['apple', 'banana']
['apple', 'banana', 'mango']

In [127]:
# loop list
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
      print(thislist[i])

apple
banana
cherry

In [128]:
try:
    def forloop(list):
        thislist = ["apple", "banana", "cherry"]
        for i in range(len(thislist)):
            print(thislist[i])
    forloop(thislist)
except Exception as e:
    print(e)

apple
banana
cherry

In [129]:
# while loop
# using a while loop to go through all the index numbers

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
        print(thislist[i])
        i = i + 1
        print(":",i)

apple
: 1
banana
: 2
cherry
: 3

In [130]:
try:
    def All_Index(name):
        try:
            
            thislist = ["apple", "banana", "cherry"]
            i = 0
            while i < len(thislist):
                print(thislist[i])
                i = i + 1
                print(":",i) 
        except Exception as e:
            print(e)
    All_Index(thislist)
except Exception as e:
        print(e)

apple
: 1
banana
: 2
cherry
: 3