Name = [Rushikesh Ramling Khekade]
Batch = [Data science-3pm-4pm(2022)]

# list :-
  - List is a collection which is ordered and changeable & Its Allows duplicate members.
  - A list can contain different data types:

In [70]:
A = [1,3,4,5.5,"rushi"]
# A list with strings, integers and boolean values:
print(A)

[1, 3, 4, 5.5, 'rushi']

In [71]:
# you can use the try and except to handle errors as exceptions
try:
    print(A)
except Exception as e:
    print(e)

[1, 3, 4, 5.5, 'rushi']

In [72]:
# using def() to call the element
def output(name):
    try:
        print(A)
    except Exception as e:
        print(e)
output(A)

[1, 3, 4, 5.5, 'rushi']

In [73]:
try:
    def output(name):
        try:
            print(A)
        except exception as e:
            print(e)
    output(a)
except Exception as e:
    print(e)

name 'a' is not defined

# len() :
      - Python list method len() returns the number of elements in the list.

In [74]:
name = "Rushikesh"
print(len(name))

9

In [75]:
try:
    print(len(name))
except Exception as e:
    print(e)

9

In [76]:
def variable(name):
        try:
            print(len(name))
        except Exception as e:
            print(e)
variable(name)

9

In [77]:
try:
    def variable(name):
            try:
                print(len(name))
            except Exception as e:
                print(e)
    variable(n)    
except Exception as e:
    print(e)

name 'n' is not defined

# min():
   - Python list method min() returns the elements from the list with minimum value.

In [78]:
numbers = [1,99,74,24,45]
print(min(numbers))

1

In [79]:
try:
    print(min(numbers))
except Exception as e:
    print(e)

1

In [80]:
def min_no(num):
        try:
            print(min(numbers))
        except Exception as e:
            print(e)
min_no(numbers)

1

In [81]:
try:
    def min_no(num):
        try:
            print(min(numbers))
        except Exception as e:
            print(e)
    min_no(number)            
except Exception as e:
    print(e)

name 'number' is not defined

# max():
   - Python list method max returns the elements from the list with maximum value.

In [82]:
names = ["rushi","shubham","prathmesh","nitin"]
print(max(names))

shubham

In [83]:
try:
    print(max(names))
except Exception as e:
    print(e)

shubham

In [84]:
def max_no(num):
        try:
            print(max(names))
        except Exception as e:
            print(e)
max_no(names)

shubham

In [85]:
try:
    def max_no(name):
        try:
            print(max(names))
        except Exception as e:
            print(e)
    max_no(nam)    
except Exception as e:
    print(e)

name 'nam' is not defined

# insert():
   - Adds an element at the specified position

In [86]:
List=[1,5,3,"rushi",2.4]
List.insert(2,18)
print(List)

[1, 5, 18, 3, 'rushi', 2.4]

In [87]:
try:
    List.insert(3,45)
    print(List)
except exception as e:
    print(e)

[1, 5, 18, 45, 3, 'rushi', 2.4]

In [88]:
def insertfunc(List):
        try:
            List.insert(3,45)
            print(List)
        except exception as e:
            print(e)
insertfunc(List)

[1, 5, 18, 45, 45, 3, 'rushi', 2.4]

In [89]:
try:
    def insertfunc(List):
        try:
            List.insert(3,45)
            print(List)
        except exception as e:
            print(e)
    insertfunc(insert)            
except Exception as e:
    print(e)

name 'insert' is not defined

# index():
   - Returns the index of the element with the specified value

In [90]:
l = [1,5,45,18,24,7,"rushi"]
l.index(45)

2

In [91]:
l = [1,5,45,18,24,7,"rushi"]
try:
    l.index(4005)
except Exception as e:
    print(e)

4005 is not in list

In [92]:
def index_no(num):
    try:
        l.index(4005)
    except Exception as e:
        print(e)
index_no(l)

4005 is not in list

In [93]:
try:
    def index_no(num):
        try:
            l.index(450)
        except Exception as e:
            print(e)
    index_no(l)
except Exception as e:
    print(e)

450 is not in list

# count():
   - Returns the number of elements with the specified value

In [94]:
l = [1,5,45,55,5,5,5.8,"rushi"]
l.count(5)

3

In [95]:
try:
    l.count()
except Exception as e:
    print(e)

list.count() takes exactly one argument (0 given)

In [96]:
def count_no(num):
    try:
        l.count()
    except Exception as e:
        print(e)
count_no(l)

list.count() takes exactly one argument (0 given)

In [97]:
try:
    def count_no(num):
        try:
            l.count()
        except Exception as e:
            print(e)
    count_no(l)        
except Exception as e:
    print(e)

list.count() takes exactly one argument (0 given)

# append():
   - Adds an element at the end of the list

In [98]:
l = [1,5,"rushi",2.4]
l1=[2,5,6,"khekade"]
l.append(l1)
l

[1, 5, 'rushi', 2.4, [2, 5, 6, 'khekade']]

In [99]:
try:
    l.append(l1)
    print(l)
except Exception as e:
    print(e)

[1, 5, 'rushi', 2.4, [2, 5, 6, 'khekade'], [2, 5, 6, 'khekade']]

In [100]:
def append_list(num2):
        try:
            l.append(l1)
            print(l)
        except Exception as e:
            print(e)
append_list(l)

[1, 5, 'rushi', 2.4, [2, 5, 6, 'khekade'], [2, 5, 6, 'khekade'], [2, 5, 6, 'khekade']]

In [1]:
l = [1,2]

In [5]:
try:
    def append_list(num2):
        try:
            l.append(l1)
            print(l)
        except Exception as e:
            print(e)
    append_list(lost)           
except Exception as e:
    print(e)

[1, 2, 12, 12, 12, 12]

# extend():
  - Add the elements of a list (or any iterable), to the end of the current list

In [102]:
names = ["rushi","shubham","prathmesh"]
names.extend("samirsir")
print(names)

['rushi', 'shubham', 'prathmesh', 's', 'a', 'm', 'i', 'r', 's', 'i', 'r']

In [103]:
try:
    names.extend("samirsir")
    print(names)
except Exception as e:
    print(e)

['rushi', 'shubham', 'prathmesh', 's', 'a', 'm', 'i', 'r', 's', 'i', 'r', 's', 'a', 'm', 'i', 'r', 's', 'i', 'r']

In [104]:
def extend_name(nam):
    try:
        names.extend("samirsir")
        print(names)
    except Exception as e:
        print(e)
extend_name(names)

['rushi', 'shubham', 'prathmesh', 's', 'a', 'm', 'i', 'r', 's', 'i', 'r', 's', 'a', 'm', 'i', 'r', 's', 'i', 'r', 's', 'a', 'm', 'i', 'r', 's', 'i', 'r']

In [105]:
try:
    def extend_name(nam):
        try:
            names.extend("samirsir")
            print(names)
        except Exception as e:
            print(e)
    extend_name(namessss)
except Exception as e:
    print(e)

name 'namessss' is not defined

# remove():
   - Removes the item with the specified value

In [106]:
l = [99,45,24,18,10]
l.remove(99)
l

[45, 24, 18, 10]

In [107]:
try: 
    l.remove(100)
    print(l)
except Exception as e:
    print(e)

list.remove(x): x not in list

In [108]:
def remove_no(num):
    try:
        l.remove(24)
        print(l)
    except Exception as e:
        print(e)
remove_no(l)

[45, 18, 10]

In [109]:
try:
    def remove_no(num):
        try:
            l.remove(199)
            print(l)
        except Exception as e:
            print(e)
    removenumber(l)
except Exception as e:
    print(e)

name 'removenumber' is not defined

# pop():
  - Removes the element at the specified position

In [110]:
l = [1,3,5,"rushi",4.2]
l.pop()

4.2

In [111]:
try:
    l.pop()
    print(l)
except Exception as e:
    print(e)

[1, 3, 5]

In [112]:
def remove_last(num):
    try:
        l.pop()
        print(l)
    except Exception as e:
        print(e)
remove_last(l)

[1, 3]

In [113]:
try:
    def remove_last(num):
        try:
            l.pop()
            print(l)
        except Exception as e:
            print(e)
    remove(rushi)
except Exception as e:
    print(e)

name 'remove' is not defined

# del(): 
  - Removes element from the list

In [114]:
L = [7,8,6,1,4,3]

del L[3]
L

[7, 8, 6, 4, 3]

In [115]:
try:
    del L[4]
    print(L)
except Exception as e:
    print(e)

[7, 8, 6, 4]

In [116]:
def remove_num(num):
    try:
        del L[0]
        print(L)
    except Exception as e:
        print(e)
remove_num(L)

[8, 6, 4]

In [117]:
try:
    def remove_num(num):
        try:
            del L[2]
            print(L)
        except Exception as e:
            print(e)
    remove_num(numbers)
except Exception as e:
    print(e)

[8, 6]

# reverse():
   - Reverses the order of the list

In [118]:
List = [1,5,3,4.5,"samirsir"]
List.reverse()
List

['samirsir', 4.5, 3, 5, 1]

In [119]:
try:
    List.reverse()
    print(List)
except Exception as e:
    print(e)

[1, 5, 3, 4.5, 'samirsir']

In [120]:
def reverse_list(L):
    try:
        List.reverse()
        print(List)
    except Exception as e:
        print(e)
reverse_list(List)

['samirsir', 4.5, 3, 5, 1]

In [121]:
try:
    def reverse_list(L):
        try:
            List.reverse()
            print(List)
        except Exception as e:
            print(e)
    reverse_list(file)
except Exception as e:
    print(e)

name 'file' is not defined

# sort():
   - this will sort the list alphanumerically, ascending

In [122]:
lang = ["python","sql","c","html","java"]
lang.sort()
print(lang)

['c', 'html', 'java', 'python', 'sql']

In [123]:
try:
    lang.sort()
    print(lang)
except Exception as e:
    print(e)

['c', 'html', 'java', 'python', 'sql']

In [124]:
def sequence(sort): 
    try:
        lang.sort()
        print(lang)
    except Exception as e:
        print(e)
sequence(lang)

['c', 'html', 'java', 'python', 'sql']

In [125]:
try:
    def sequence(sort): 
        try:
            lang.sort()
            print(lang)
        except Exception as e:
            print(e)
    sequence(language)        
except Exception as e:
    print(e)

name 'language' is not defined

# copy():
   - this will copy the same list into another list

In [126]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [127]:
# list comprehension
# With list comprehension you can do all that with only one line of code:

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [i for i in fruits if "a" in i]
print(newlist)

['apple', 'banana', 'mango']

In [128]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
     if "a" in x:
            newlist.append(x)
            print(newlist)

['apple']
['apple', 'banana']
['apple', 'banana', 'mango']

In [129]:
# loop list
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
      print(thislist[i])

apple
banana
cherry

In [130]:
try:
    def forloop(list):
        thislist = ["apple", "banana", "cherry"]
        for i in range(len(thislist)):
            print(thislist[i])
    forloop(thislist)
except Exception as e:
    print(e)

apple
banana
cherry

In [131]:
# while loop
# using a while loop to go through all the index numbers

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
        print(thislist[i])
        i = i + 1
        print(":",i)

apple
: 1
banana
: 2
cherry
: 3

In [132]:
try:
    def All_Index(name):
        try:
            
            thislist = ["apple", "banana", "cherry"]
            i = 0
            while i < len(thislist):
                print(thislist[i])
                i = i + 1
                print(":",i) 
        except Exception as e:
            print(e)
    All_Index(thislist)
except Exception as e:
        print(e)

apple
: 1
banana
: 2
cherry
: 3