What is object and classes?
classes is having multiple functions with multi vairables which avoids calling of single-single vairable.


class==Vehicle
auto,bike,car,truck,train,metro,laptop=object of vehicle
--features like--fuel capacity,engine working,seat capacity,number of typers

s="jyothi" --- class(string,list,tuple,set,dictionary)
s.strip() --- s is object-- .strip is method
HERE string is CLASS
s. is object/ blue print of class
.strip is method

len() is function without/outside class.

function in class is called as a method like strip.

TYPES OF CLASSES?
1.classes with parameter
2.classes with default parameter
3.classes with no parameter
4.

In [1]:
def func_name(): # function without parameter
    print("this is a function")
func_name()

this is a function

SYNTAX FOR CLASS:
create class with object ,make sure that class name is capital letter
then create/define a function
call (print) 
self is default parameter

In [2]:
class Myclass(): # () is optional first letter must in capital 
    def func_name(self): # function without parameter-- self vairable
        print("this is a function")
    def func_name1(self): # function without parameter-- function created
        print("this is second function")
    def name1(self,first,last):
        self.first=first
        self.last=last
        print("enter your first name:  ",self.first)
        print("enter your last name:   ",self.last)

In [3]:
c=Myclass() # C is vairble and stores all data and act as  object of class my_class
c.func_name() #function call
c.func_name1()
c.name1("jyothi","hande")

this is a function
this is second function
enter your first name:   jyothi
enter your last name:    hande

--Default function in classes in python
__init__ initialiasation  double under score
_init_ single underscore normal function

In [4]:
class customer_information():
    "This class is used to get customer info "
    def __init__(self,name,contact,email):
        self.name=name
        self.contact=contact
        self.email=email
        print("successfully logged in ")
    def name_contact(self):
        "this function gives name and contact"
        print("enter your name:  ",self.name)
        print("enter your contact:   ",self.contact)
    def email(self):
        "this functin gives email"
        print("enter your email:  ",self.email)
        
info=customer_information("jyothi",563214,"abc@gmail.com")

successfully logged in

In [5]:
info.email

'abc@gmail.com'

In [6]:
info.name

'jyothi'

In [7]:
info.name_contact()

enter your name:   jyothi
enter your contact:    563214

In [8]:
info.name_contact()

enter your name:   jyothi
enter your contact:    563214

In [9]:
c.last

'hande'

In [10]:
c.name1("yjoy","iherg")

enter your first name:   yjoy
enter your last name:    iherg

--CLASSES with parameter

In [11]:
class Rectangle():
    def __init__(self,length,breadth):
        self.length=length
        self.breadth=breadth
    def output(self):
        print("Length of the rectangle is : ",self.length)
        print("breadth of the rectangle is: ",self.breadth)
        print("area of rectangle =",self.length*self.breadth)
        print("parameter of rectangle = ",self.length+self.breadth+self.length+self.breadth)

In [12]:
r=Rectangle(20,4)

In [13]:
r.output()

Length of the rectangle is :  20
breadth of the rectangle is:  4
area of rectangle = 80
parameter of rectangle =  48

--CLASSES with default parameter

In [14]:
class Rectangle():
    def __init__(self,length=20,breadth=2):
        self.length=length
        self.breadth=breadth
    def output(self):
        print("Length of the rectangle is : ",self.length)
        print("breadth of the rectangle is: ",self.breadth)
        print("area of rectangle =",self.length*self.breadth)
        print("parameter of rectangle = ",self.length+self.breadth+self.length+self.breadth)

In [15]:
r=Rectangle()

In [16]:
r.output()

Length of the rectangle is :  20
breadth of the rectangle is:  2
area of rectangle = 40
parameter of rectangle =  44

In [17]:
r.length

20

In [18]:
r.breadth

2

--default parameter

In [19]:
class Rectangle():
    def __init__(self,length,breadth,):
        self.length=length
        self.breadth=breadth
    def output(self):
        print("Length of the rectangle is : ",self.length,"m")
        print("breadth of the rectangle is: ",self.breadth,"m")
        print("area of rectangle =",self.length*self.breadth,"m^2")
        print("parameter of rectangle = ",self.length+self.breadth+self.length+self.breadth,"m")
       # print("parameter of rectangle =",(int(2)(self.length+self.breadth)))
              
r=Rectangle(10,50)  
    # checks value BOTTOM UP APPROACH

In [20]:
r.output()

Length of the rectangle is :  10 m
breadth of the rectangle is:  50 m
area of rectangle = 500 m^2
parameter of rectangle =  120 m

--The four pillars of OOP are 
1.Encapsulation,
2.Abstraction, 
3.Inheritance, 
4.Polymorphism.

 1.Polymorphism
-- same functions with various meanings according to its use.
--eg: a*b 
     from random import *
--eg:pop() removes items 
     s.pop() removes first item in set
     l.pop() removes last item in list
     d.pop() removes 
set 1st value remove
list last value removed by default
in dict POP function removes which is mentioned inside bracket

In [21]:
class Intergers():
    def __init__(self,positive_numbers,negative_numbers):
        self.positive_numbers=positive_numbers
        self.negative_numbers=negative_numbers
    def display(self):
        print("list of positive numbers =",self.positive_numbers)
        print("list of negative number =",self.negative_numbers)
I=Intergers(4,-52)

In [22]:
I.display()

list of positive numbers = 4
list of negative number = -52

In [23]:
I.negative_numbers

-52

In [24]:
I.positive_numbers

4

In [26]:
class Positive():
    l=[]
    
    def __init__(self,positive_numbers,lists):
        self.positive_numbers=positive_numbers
        self.lists=lists
    def display(self):
       # a=print("enter number: ",a)
        l=[]
        if self.positive_numbers>0==True:
            l.append(self.positive_numbers)
            print("list of positive numbers =",self.lists)
    
P=Positive(45)
P.display(45,5)

TypeError: __init__() missing 1 required positional argument: 'lists'

In [27]:
P.l

NameError: name 'P' is not defined

In [28]:
P.l

NameError: name 'P' is not defined

In [29]:
P.positive_numbers

NameError: name 'P' is not defined

In [30]:
l

NameError: name 'l' is not defined

In [31]:
class Cat():
    def __init__(self,name):
        self.name=name
    def display(self):
        print("type of the cat is:",self.name)
c=Cat("tiger")
class Dog():
    def __init__(self,name):
        self.name=name
    def display(self):
        print("name of the Dog is:",self.name)
d=Dog("lolo")

In [32]:
c.display()

type of the cat is: tiger

In [33]:
c.name

'tiger'

In [34]:
d.display()

name of the Dog is: lolo

In [35]:
def abc(a):
    a.display()

In [36]:
abc(c)

type of the cat is: tiger

In [37]:
abc(d)

name of the Dog is: lolo

--TYPE IS ALSO EXAMPLE OF polymorphism

In [38]:
type("jyothi")# is example of polymorphism

str

In [39]:
type(45)

int

In [40]:
type(4.3)

float

2.Inheritence
carry forward the property of one class to another not all properties but few of them
--Types of Inheritance in Python
1.Single inheritance 
2.Multiple Inheritance
3.multilevel inheritance
4.Hierarchical Inheritance
5.Hybrid Inheritance

1.Single inheritance

In [41]:
class Numbers():
    "base class for odd even numbers"
    def __init__(self,numbers):
        self.numbers=numbers
    def show_numbers(self):
        "shows numbers availble"
        print("numbers are : ",self.numbers)
#n=Numbers(25)
#n.show_numbers()

In [42]:
#n.numbers

In [43]:
class Odd_even(Numbers):
    "this is derived class of odd even numbers"
    def __init__(self,numbers,even,odd):
        Numbers.__init__(self,numbers)
        self.even=even
        self.odd=odd
    def show_evenodd(self):
        "gives odd even numbers"
        Numbers.show_numbers(self)
        print("number is even",self.numbers%2==0,self.even)
        print("number is odd",self.numbers%2!=0,self.odd)

In [44]:
o=Odd_even(12,6,3)

In [45]:
o.show_evenodd()

numbers are :  12
number is even True 6
number is odd False 3

In [46]:
o.show_numbers()

numbers are :  12

class A ----> class B == single inheritance 
so that not to create again again.

In [47]:
class Student_info():
    def __init__(self,name2,standard,birth_date,address):
        self.name2=name2
        self.standard=standard
      #  self.blood_group=blood_group
        self.birth_date=birth_date
        self.address=address
    def info(self):
        print("name of the student",self.name2)
        print("standard of the student",self.standard)
        #print("blood group of the student",self.blood_group)
        print("DOB of student",self.birth_date)
        print("Address of the student",self.address)

In [48]:
s=Student_info("jyothi","3rd","298","XYZ")

In [49]:
s.info()

name of the student jyothi
standard of the student 3rd
DOB of student 298
Address of the student XYZ

In [50]:
class Student(Student_info): #
    "inheritence of class"   
    def __init__(self,name2,standard,birth_date,address,blood_group):
        "new data blood group of student"
        Student_info.__init__(self,name2,standard,birth_date,address)
        self.blood_group=blood_group
    def info(self):
        Student_info.info(self)
        print("blood group of the student",self.blood_group)

In [51]:
x=Student("jyothi","3rd","298","XYZ","AB")

In [52]:
x.info()

name of the student jyothi
standard of the student 3rd
DOB of student 298
Address of the student XYZ
blood group of the student AB

2.Multilevel plimorphism

class A--> class B-->class c

In [53]:
class Subjects(Student):
    def __init__(self,name2,standard,birth_date,address,blood_group,subjects):
        Student_info.__init__(self,name2,standard,birth_date,address)
        self.subjects=subjects
    def show_subjects(self):
        Student.info(self)
        print("Subjects of the student are: ",self.subjects)

In [54]:
y=Subjects("jyothi","3rd","298","XYZ","AB","arts")

In [55]:
y.subjects

'arts'

In [56]:
y.standard

'3rd'

In [57]:
y.birth_date

'298'

3.Multiple Inheritance

A+B --> C

In [58]:
class Positive_numbers:
    def __init__(self,positive_integers):
        self.positive_integers=positive_integers
    def info(self):
        print("positives numbers are: ",self.positive_integers)

In [59]:
class Negative_numbers:
    def __init__(self,negative_integers):
        self.negative_integers=negative_integers
    def info(self):
        print("negative numbers are: ",self.negative_integers)

In [60]:
class Integers(Positive_numbers,Negative_numbers):
    def __init__(self,positive_integers,negative_integers,zero):
        Positive_numbers.__init__(self,positive_integers)
        Negative_numbers.__init__(self,negative_integers)
        self.zero=zero
    def info(self):
        Positive_numbers.info(self)
        Negative_numbers.info(self)
        print(self.zero,"is also a integer")
        print("set of intergers is ",self.zero,self.positive_integers,self.negative_integers)

In [61]:
i=Integers(2,-2,0)

In [62]:
i.info()

positives numbers are:  2
negative numbers are:  -2
0 is also a integer
set of intergers is  0 2 -2

==EXAMPLE OF multiple polymorphism:

In [167]:
class Father:
    def __init__(self,eyes,hair):
        self.eyes=eyes
        self.hair=hair
    def display(self):
        print("colour of",self.eyes,"brown of father")
        print("texture of",self.hair,"thin and silky")
class Mother:
    def __init__(self,height,nature):
        self.height=height
        self.nature=nature
    def dispaly(self):
        print(self.height,"of mother is tall")
        print(self.nature,"of mother is good")
class Child(Father,Mother):
    def __init__(self,eyes,hair,height,nature,weight):
        Father.__init__(self,eyes,hair)
        Mother.__init__(self,height,nature)
        self.weight=weight
    def display(self):
        Father.display(self)
        Mother.display(self)
        print(self.weight,"of the child is normal")
        print(self.nature,"of the child is cranky")

In [171]:
c=Child("eyes","hair","height","nature","weight")

In [172]:
c.dispaly()

height of mother is tall
nature of mother is good

In [173]:
c.display()

colour of eyes brown of father
texture of hair thin and silky

AttributeError: type object 'Mother' has no attribute 'display'

3.Encapsulation inheritence
private vairables used with__a double underscore

Two types of vairable public and private:

In [63]:
class Encap:
    def __init__(self,x):
        #self.x=x # here x is public vairable
        self.__x=x # double underscore to make private
    def display(self):
        print("value of x is ",self.__x)
        print("ID of x is ",id(self.__x))

In [64]:
e=Encap(25)
e.display()

value of x is  25
ID of x is  2505529715760

In [65]:
e.display()

value of x is  25
ID of x is  2505529715760

In [66]:
e.x

AttributeError: 'Encap' object has no attribute 'x'

In [67]:
e.x=53 # here tried to change the value of x but could not change as __x is private vairable.

In [68]:
e.display()

value of x is  25
ID of x is  2505529715760

--EXAMPLE of encapsulation
try with age also

In [184]:
class Bank:
    def __init__(self,name,acc_no,balance):
        self.name=name
        self.acc_no=acc_no
        self.__balance=balance # private vairable
    def data(self):
        print("account holder name:",self.name)
        print("account name of",self.name,"is",self.acc_no)
        print("account balance is:",self.__balance)
    def deposite(self,amt):
        self.__balance+=amt
    def withdraw(self,amt):
        self.__balance-=amt
    def updated_balance(self):
        print("current balance is : ",self.__balance)

In [185]:
x=Bank("jyothi","154863",50000)

In [186]:
x.updated_balance()

current balance is :  50000

In [190]:
x.deposite(250)

In [191]:
x.updated_balance()

current balance is :  50750

In [192]:
x.withdraw(5000)

In [193]:
x.updated_balance()

current balance is :  45750

In [194]:
x.name="dkdk"

In [195]:
x.data()

account holder name: dkdk
account name of dkdk is 154863
account balance is: 45750

4.Hierarchical Inheritance

In [127]:
class Transport:
    def __init__(self,vehicle):
        self.vehicle=vehicle
    def display(self):
        print("modes and different",self.vehicle,"with examples")
class Mode1(Transport):
    def __init__(self,vehicle,land):
        Transport.__init__(self,vehicle)
        self.land=land
    def display(self):
        #Transport.display(self)
        print(self.land,"is a mode of transport")

class Examples1(Mode1,Transport):
    def __init__(self,vehicle,land,bus,car):
        Transport.__init__(self,vehicle)
        Mode1.__init__(self,vehicle,land)
        self.bus=bus
        self.car=car
    def display(self):
        Transport.display(self)
        Mode1.display(self)
        print("examples of land mode transport are",self.bus ,"and", self.car)
        
class Mode2(Transport):
    def __init__(self,vehicle,water):
        Transport.__init__(self,vehicle)
        self.water=water
    def display(self):
        #Transport.display(self)
        print(self.water,"is a mode of transport")
class Examples2(Mode2,Transport):
    def __init__(self,vehicle,water,ship,boat):
        #Transport.__init__(self,vehicle)
        Mode2.__init__(self,vehicle,water)
        self.ship=ship
        self.boat=boat
    def display(self):
        Transport.display(self)
        Mode2.display(self)
        print("examples of WATER mode transport are",self.ship ,"and", self.boat)
        
        
class Mode3(Transport):
    def __init__(self,vehicle,air):
        Transport.__init__(self,vehicle)
        self.air=air
    def display(self):
        #Transport.display(self)
        print(self.air,"is a mode of transport")
class Examples3(Mode3,Transport):
    def __init__(self,vehicle,air,areoplane,helicopter):
        Transport.__init__(self,vehicle)
        Mode3.__init__(self,vehicle,air)
        self.areoplane=areoplane
        self.helicopter=helicopter
    def display(self):
        Transport.display(self)
        Mode3.display(self)
        print("examples of AIR mode transport are",self.areoplane ,"and", self.helicopter)

In [128]:
e=Examples1("vehicle","land","car","bus") 
f=Examples2("vehicle","water","ship","boat") 
g=Examples3("vehicle","air","areoplane","helicopter")

In [129]:
e.display()

modes and different vehicle with examples
land is a mode of transport
examples of land mode transport are car and bus

In [130]:
f.display()

modes and different vehicle with examples
water is a mode of transport
examples of WATER mode transport are ship and boat

In [131]:
g.display()

modes and different vehicle with examples
air is a mode of transport
examples of AIR mode transport are areoplane and helicopter

In [144]:
def abc(e,f,g):
    display(e,f,g)

In [150]:
abc(e.display(),f.display(),g.display())

modes and different vehicle with examples
land is a mode of transport
examples of land mode transport are car and bus
modes and different vehicle with examples
water is a mode of transport
examples of WATER mode transport are ship and boat
modes and different vehicle with examples
air is a mode of transport
examples of AIR mode transport are areoplane and helicopter

None

None

None

In [1]:
class Transport():
    def __init__(self,vehicle):
        self.vehicle=vehicle
    def display(self):
        print("modes and different",self.vehicle,"with examples")
class Mode1(Transport):
    def __init__(self,vehicle,land):
        Transport.__init__(self,vehicle)
        self.land=land
    def display(self):
        #Transport.display(self)
        print(self.land,"is a mode of transport")
class Examples1(Mode1,Transport):
    def __init__(self,vehicle,land,bus,car):
#         Transport.__init__(self,vehicle)
        Mode1.__init__(self,vehicle,land)
        self.bus=bus
        self.car=car
    def display(self):
#         Transport.display(self)
        Mode1.display(self)
        print("examples of land mode transport are", self.bus ,"and",self.car)

In [2]:
t=Examples1("vehicle","land","car","bus")

In [105]:
t.display()

modes and different vehicle with examples
land is a mode of transport
examples of land mode transport are car and bus

 ---ABSTRACTION: used to hide any method

In [197]:
from abc import ABC

In [200]:
class Vegetables(ABC):
    def price(self):
        pass

In [217]:
class Potato(Vegetables):
    'price of vegetables in japan'
    def price(self):
        print("PRICE of Potato Japan is 1.1$")
class Tomato(Vegetables):
    def price(self):
        print("Tomato is 1.5$")
class Cabbage(Vegetables):
    def price(self):
        print("Cabbage is 0.5$")
class Onion(Vegetables):
    def price(self):
        print("Onion is 2.2$")

In [215]:
p=Potato()

In [216]:
p.price()

PRICE of Potato Japan is 1.1$